.graveyard {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5%;
}

.gravestones {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);

  // border: 2px white solid;
  margin: 0 50% 0 5%;
  height: 70vh;
  border-radius: 20px;
}

h2 {
  color: black;
}
